<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      internalLogLevel="Trace"
      internalLogFile="c:\temp\internal-nlog.txt"
      autoReload="true"
      throwExceptions="false">
  <extensions>
    <add assembly="NLog.Targets.Http" />
    <add assembly="NLog.WindowsEventLog" />
    <add assembly="NLog.WindowsIdentity" />
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  
  <variable name="applicationName" value="Assurity.Kafka.Consumer"/>
  <variable name="environment" value="LOCAL" />

  <targets async="true">

	  <target name="console" xsi:type="ColoredConsole"/>

    <!-- New Relic Logging API -->
    <target name='newRelic'
		        xsi:type='HTTP'
		        URL='https://log-api.newrelic.com/log/v1'
		        Method='POST'>
      <layout xsi:type='JsonLayout'>
        <attribute name="system" layout="${machinename}" />
        <attribute name="applicationName" layout="${applicationName}.${environment}" />
        <attribute name="message"
				           layout="${environment} | ${applicationName} |  ${level} | ${message} | ${exception:format=tostring}" />
        <attribute name="logLevel" layout="${level}" />
        <attribute name="environment" layout="${environment}" />
      </layout>
      <header name="Api-Key" value="8770df9cb9d7c01b2eb64af26f0ffef7FFFFNRAL" />
    </target>

  </targets>
  <rules>
    <!--https://github.com/NLog/NLog/wiki/Log-levels-->

    <!--Suppress Microsoft logs and only log my own-->
    <logger name="Microsoft.*" maxLevel="Error" final="true" />
    <logger name="*" minlevel="Trace" writeTo="console"/>
    <logger name="*" minlevel="Warn" writeTo="newRelic"/>
  </rules>
</nlog>