.table-footer {
  text-align: center;
  &__pagination {
    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-l);
    display: flex;
    justify-content: center;
    align-items: center;
    &-num_of_items {
      display: flex;
      align-items: center;
    }
  }
}
